<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: header"><meta charset="UTF-8"></head>
<body>
	<nav th:replace="fragments.html :: main-nav('main')"></nav>
	<div th:if="${!#strings.isEmpty(emailMessage)}" class="alert alert-primary mb-1" role="alert" th:text="${emailMessage}"></div>
	
	<div class="container1">
		<div class="jumbotron text-center">
			<h1 class="display-4">Spring Shop</h1>
			<p class="lead">회권 가입 바랍니다!<br/> <br/>
		  	<a class="btn btn-primary btn-lg" href="#" th:href="@{/accounts}" role="button">회원 가입</a>
		</div>
	</div>
	<footer th:insert="fragments.html :: footer"></footer>
</body>
</html>